[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "doRedis"]
	path = doRedis
	url = https://github.com/bwlewis/doredis
[submodule "irlba"]
	path = irlba
	url = https://github.com/bwlewis/irlba
[submodule "threejs"]
	path = threejs
	url = https://github.com/bwlewis/rthreejs
